# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Next.js
.next/
out/
build/
dist/

# Production
*.tsbuildinfo

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Turbo
.turbo

# Prisma (migrations must be committed)

# SvelteKit
.svelte-kit/
vite.config.*.timestamp-*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
